<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutor.mapper.ClazzMapper">
<select id="selectClazzIdByClazzCode" resultType="integer">
    select  class_id from clazz where code=#{clazzName,jdbcType=VARCHAR}
</select>
</mapper>